.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
  .p1 {
      color: red;
  }
  .center {
      text-align: center;
  }
  .emilepagestyle {
    align-items: center;
  
  }
  .blink {
    animation: blink 2s steps(1, end) infinite;
    color: red;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .seizure {
    animation: blink 0.07s steps(1, end) infinite;
    animation: color 0.25 infinite;
  }

  @keyframes color{
    0% {
      color: red;
    }
    25% {
      color: blueviolet;
    }
    50% {
      color: blue;
    }
    75% {
      color: blueviolet;
    }
    100% {
      color: red;
    }
    
  }

  