html,
body {
  background-color: rgb(238, 238, 225);
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
  max-height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.review {
  max-width: 300px;
  border: 1px solid red;

}

.bioBody{
  max-width: 500px;
  border: 1px solid red;
}
p {
  max-width: 400px;
}
bigButton {
  font-size: 400px;
  padding: 100px;
  align-items: center;
}